
@{
    ViewBag.Title = "Adress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper" style="background-color: #f5f5fa;padding: 20px; height: 100vh">
    <h2>Sổ địa chỉ</h2>
    <a href="@Url.Action("AddAddress","Account")" style="display:block;width: 100%; padding: 10px; background: white; border: 0; border-radius: 5px; text-decoration: none; color: blue; text-align: center">Thêm địa chỉ mới</a>
    <div class="d-flex mt-3" style="background: white; border-radius: 5px; height: fit-content; padding: 10px 20px">
        <div class="flex-grow-1">
            <h6>Tên</h6>
            <p><span>Địa chỉ:</span></p>
            <p><span>Điện thoại:</span></p>
        </div>
        <div class="action">
            <a style="color: blue; margin-right: 5px">Chỉnh sửa</a>
            <a style="color: red">Xoá</a>
        </div>
    </div>
</div>



