
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .order-container:hover{
        cursor: pointer;
    }
</style>
<h2>Đơn hàng của tôi</h2>
<div class="d-flex flex-column order-container" style="border-radius: 10px; background: white; padding: 0 20px">
    <span style="border-bottom: 1px solid #ccc; padding: 10px;">22/02/2002</span>
    <div class="d-flex" style="gap: 30px; border-bottom: 1px solid #ccc; padding: 10px">
        <img style="width: 80px; height: 80px; border-radius: 10px" />
        <div class="flex-grow-1">
            <h6>Thắt lưng dây nịt nam da bò khóa tự động phiên bản hàn đơn giản sành điệu trẻ trung DT107 - 106</h6>
            <span>Dumbum</span>
        </div>
        <span><span>145.600</span>đ</span>
    </div>
    <p style="text-align: right; margin-top: 10px">Tổng tiền: <span>145.600</span>đ</p>
</div>

