
@{
    ViewBag.Title = "ProductItem";
    List<string> images = ViewBag.Images as List<string>;
}

@model QuanAoTreEm.Models.Product

<div class="row">
    <div class="col-4 me-3">
        @*Image*@
        @if (images != null && images.Any())
        {
            <div class="container">
                <div class="row mb-3 overflow-hidden" style="height:300px">
                    <div class="col-md-12">
                        <div id="mainImageContainer">
                            <img id="mainImage" class="main-image" src="~/Content/Assets/Images/Product/@images[0]" alt="Main Image">
                        </div>
                    </div>
                </div>


                <div class="row thumbnail-container">
                    @foreach (var path in images)
                    {
                        <div class="col-md-4">
                            <img class="thumbnail" src="~/Content/Assets/Images/Product/@path" alt="Thumbnail 1" onclick="changeImage(this)">
                        </div>
                    }

                </div>
            </div>

        }


    </div>
    <div class="col">
        <h2>@Model.ProductName</h2>
        <h4>@Convert.ToInt32(Model.Price)</h4>
        <p>@Model.Description</p>
        <a href="@Url.Action("AddToCart", "Cart", new { productId = Model.ProductID, price = Model.Price })" class="btn btn-danger text-decoration-none text-white">+ Thêm vào giỏ hàng</a>
    </div>
</div>
<script>
    function changeImage(smallImg) {
        document.getElementById('mainImage').src = smallImg.src;
    }
</script>

