
@{
    ViewBag.Title = "Index";
}
@model List<QuanAoTreEm.Models.Product>
<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* hoặc justify-content: space-around; */
    }

    .flex-item {
        width: calc(20% - 8px);
        margin-bottom: 16px;
        background-color: #ddd;
        padding: 8px;
    }

    .clamp-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2; /* Số dòng tối đa */
        max-height: 3em; /* Chiều cao tối đa tương đương với 3 dòng */
    }
</style>
<div class="flex-container">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Detail", "Product", new { productId = item.ProductID })" class="card flex-item text-decoration-none bg-white p-0">
            <img style="height: 182px; width: 100%; object-fit:cover" src="~/Content/Assets/Images/Product/@item.ImagePath" class="card-img-top" alt="...">
            <div class="card-body d-flex flex-column" style="padding: 10px 20px">
                <p class="card-title overflow-hidden clamp-text" style="font-size: 12px">@item.ProductName</p>
                <span style="font-weight: bold; color: #ccc; font-size: 12px">@item.CategoryName</span>
                <span class="fw-bold" style="color: red">@Convert.ToInt32(item.Price)đ</span>
            </div>
        </a>
    }
</div>

