
@{
    ViewBag.Title = "Index";
}
@model List<QuanAoTreEm.Models.Product>
<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* hoặc justify-content: space-around; */
    }

    .flex-item {
        width: calc(20% - 8px);
        margin-bottom: 16px;
        background-color: #ddd;
        padding: 8px;
    }

</style>
<div class="flex-container">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Detail", "Product", new { productId = item.ProductID })" class="card flex-item text-decoration-none">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text">@item.Description</p>
                <span>@Convert.ToInt32(item.Price)đ</span>
            </div>
        </a>
    }
</div>

